body {
  min-width: 850px;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 45px;
  color: grey;
  font-family: William, serif;
  font-weight: normal;
  font-size: 31px;
  text-transform: uppercase;
}

h2 {
  margin-top: 0;
  color: grey;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-style: italic;
  text-transform: uppercase;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  text-align: center;
}

img {
  width: 310px;
  margin-bottom: 40px;
}

div {
  width: 500px;
  height: 500px;
  margin: 0 auto 20px;
  text-align: center;
 background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

h3 {
  margin: 0;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
